@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html::-webkit-scrollbar {
	display: none;
}
html {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
body::-webkit-scrollbar {
	display: none;
}
body {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

:root {
	font-size: 16px;
	font-family: Georgia, "Times New Roman", Times, serif;
	/* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-contrast: var(--contrast);
	--color-contrast-foreground: var(--contrast-foreground);
	--color-success: var(--success);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--color-background-raised: var(--background-raised);
	--color-background-300: var(--background-300);
	--color-special: var(--special);

	--animate-accordion-down: accordionDown 0.25s ease-out;
	--animate-accordion-up: accordionUp 0.25s ease-out;
	@keyframes accordionDown {
		from {
			height: 0;
			opacity: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
			opacity: 1;
		}
	}
	@keyframes accordionUp {
		from {
			height: var(--radix-accordion-content-height);
			opacity: 1;
		}
		to {
			height: 0;
			opacity: 0;
		}
	}

	--animate-warning-fade-in: warningFadeIn 0.5s;
	@keyframes warningFadeIn {
		0% {
			opacity: 0;
			scale: 0.75;
		}
		100% {
			opacity: 1;
			scale: 1;
		}
	}

	--animate-banner-in: bannerIn 1.5s ease-in-out;
	@keyframes bannerIn {
		from {
			transform: scale(0);
			opacity: 0;
			height: 0;
			margin: 0;
			padding: 0;
		}
		to {
			transform: scale(1);
			opacity: 1;
		}
	}

	--animate-realm-logo-in: realmLogoIn 1.5s ease-out;
	@keyframes realmLogoIn {
		0%,
		10% {
			opacity: 0;
			left: -120px;
			bottom: -120px;
			transform: scale(0.6) rotate(-8deg);
		}
		100% {
			transform: scale(1);
		}
	}

	--animate-page-slide-in-left: pageSlideInLeft 0.4s ease-out;
	--animate-page-slide-in-right: pageSlideInRight 0.4s ease-out;
	@keyframes pageSlideInLeft {
		from {
			opacity: 0;
			left: -20px;
		}
		to {
			opacity: 1;
			left: 0px;
		}
	}
	@keyframes pageSlideInRight {
		from {
			opacity: 0;
			left: 20px;
		}
		to {
			opacity: 1;
			left: 0px;
		}
	}

	--animate-wiggle: wiggle 0.5s ease-in-out infinite;
	@keyframes wiggle {
		0%,
		100%, {
			transform: rotate(0deg);
		}
		30%,
		70% {
			transform: rotate(-10deg);
		}
		50% {
			transform: rotate(10deg);
		}
	}

	--animate-quick-fade-in: quickFadeIn 0.15s ease-in-out;
	@keyframes quickFadeIn {
		from {
			scale: 0.5;
			opacity: 0;
		}
		to {
			scale: 1;
			opacity: 1;
		}
	}

	/* --animate-quick-pulse: quickPulse 1.0s ease-in-out infinite;
	@keyframes quickPulse {
		0%,
		20%,
		100% {
			scale: 1;
		}
		10% {
			scale: 1.2;
		}
	} */
}

:root {
	--radius: 0.625rem;
	--background-raised: #f1f4f9;
	--background-300: #e5e6ec;
	--special: #684ecf;
	--banner-success: linear-gradient(
		125deg,
		rgba(147, 201, 134, 1) 0%,
		rgba(132, 196, 219, 1) 100%
	);
	--banner-warning: linear-gradient(
		125deg,
		rgba(189, 123, 99, 1) 0%,
		rgba(222, 184, 118, 1) 100%
	);
	--banner-error: linear-gradient(125deg, rgba(182, 117, 138, 1) 0%, rgba(232, 161, 131, 1) 100%);
	/* --background: #f1f4f8; */
	--background: #eef2f5;
	--foreground: #242e42;
	--card: #f1f4f9;
	--card-foreground: oklch(0.13 0.028 261.692);
	--popover: #eaf0f5;
	--popover-foreground: oklch(0.13 0.028 261.692);
	--primary: #706bae;
	--primary-foreground: #f7fbff;
	--secondary: #dbdfea;
	--secondary-foreground: oklch(0.21 0.034 264.665);
	--muted: oklch(92.408% 0.0076 260.882);
	--muted-foreground: #364d7d;
	--accent: oklch(93.875% 0.00927 258.49);
	--accent-foreground: oklch(0.21 0.034 264.665);
	--contrast: #dea65e;
	--contrast-foreground: #fff;
	--success: #2da800;
	--destructive: oklch(52.325% 0.19493 25.41);
	--border: oklch(80.877% 0.01584 273.796);
	--input: oklch(0.928 0.006 264.531);
	--ring: oklch(0.707 0.022 261.325);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0.002 247.839);
	--sidebar-foreground: oklch(0.13 0.028 261.692);
	--sidebar-primary: oklch(0.21 0.034 264.665);
	--sidebar-primary-foreground: oklch(0.985 0.002 247.839);
	--sidebar-accent: oklch(0.967 0.003 264.542);
	--sidebar-accent-foreground: oklch(0.21 0.034 264.665);
	--sidebar-border: oklch(0.928 0.006 264.531);
	--sidebar-ring: oklch(0.707 0.022 261.325);
}

.dark {
	--background-raised: #1d2330;
	--background-300: #2d3444;
	--special: #eebe76;
	--banner-success: linear-gradient(125deg, rgba(95, 155, 81, 1) 0%, rgba(68, 165, 201, 1) 100%);
	--banner-warning: linear-gradient(125deg, rgba(190, 109, 84, 1) 0%, rgba(207, 166, 76, 1) 100%);
	--banner-error: linear-gradient(125deg, rgba(170, 94, 113, 1) 0%, rgba(206, 124, 94, 1) 100%);
	/* --background: #0d0e13; */
	--background: #14191e;
	--foreground: #e8eefc;
	--card: oklch(0.21 0.034 264.665);
	--card-foreground: oklch(0.985 0.002 247.839);
	--popover: #10121b;
	--popover-foreground: oklch(0.985 0.002 247.839);
	--primary: #ad7832;
	--primary-foreground: #edf3fa;
	--secondary: #222d3a;
	--secondary-foreground: oklch(0.985 0.002 247.839);
	--muted: oklch(0.278 0.033 256.848);
	--muted-foreground: #879bc5;
	--accent: oklch(0.278 0.033 256.848);
	--accent-foreground: oklch(0.985 0.002 247.839);
	--contrast: #7560cb;
	--contrast-foreground: #fff;
	--success: #4ebc46;
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(100% 0.00011 271.152 / 0.18);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.551 0.027 264.364);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.21 0.034 264.665);
	--sidebar-foreground: oklch(0.985 0.002 247.839);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0.002 247.839);
	--sidebar-accent: oklch(0.278 0.033 256.848);
	--sidebar-accent-foreground: oklch(0.985 0.002 247.839);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.551 0.027 264.364);
}

/*
// Original theme:
:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.13 0.028 261.692);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.13 0.028 261.692);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.13 0.028 261.692);
	--primary: oklch(0.21 0.034 264.665);
	--primary-foreground: oklch(0.985 0.002 247.839);
	--secondary: oklch(0.967 0.003 264.542);
	--secondary-foreground: oklch(0.21 0.034 264.665);
	--muted: oklch(0.967 0.003 264.542);
	--muted-foreground: oklch(0.551 0.027 264.364);
	--accent: oklch(0.967 0.003 264.542);
	--accent-foreground: oklch(0.21 0.034 264.665);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.928 0.006 264.531);
	--input: oklch(0.928 0.006 264.531);
	--ring: oklch(0.707 0.022 261.325);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0.002 247.839);
	--sidebar-foreground: oklch(0.13 0.028 261.692);
	--sidebar-primary: oklch(0.21 0.034 264.665);
	--sidebar-primary-foreground: oklch(0.985 0.002 247.839);
	--sidebar-accent: oklch(0.967 0.003 264.542);
	--sidebar-accent-foreground: oklch(0.21 0.034 264.665);
	--sidebar-border: oklch(0.928 0.006 264.531);
	--sidebar-ring: oklch(0.707 0.022 261.325);
}

.dark {
	--background: oklch(0.13 0.028 261.692);
	--foreground: oklch(0.985 0.002 247.839);
	--card: oklch(0.21 0.034 264.665);
	--card-foreground: oklch(0.985 0.002 247.839);
	--popover: oklch(0.21 0.034 264.665);
	--popover-foreground: oklch(0.985 0.002 247.839);
	--primary: oklch(0.928 0.006 264.531);
	--primary-foreground: oklch(0.21 0.034 264.665);
	--secondary: oklch(0.278 0.033 256.848);
	--secondary-foreground: oklch(0.985 0.002 247.839);
	--muted: oklch(0.278 0.033 256.848);
	--muted-foreground: oklch(0.707 0.022 261.325);
	--accent: oklch(0.278 0.033 256.848);
	--accent-foreground: oklch(0.985 0.002 247.839);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.551 0.027 264.364);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.21 0.034 264.665);
	--sidebar-foreground: oklch(0.985 0.002 247.839);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0.002 247.839);
	--sidebar-accent: oklch(0.278 0.033 256.848);
	--sidebar-accent-foreground: oklch(0.985 0.002 247.839);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.551 0.027 264.364);
} */

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
